<div nz-row nzJustify="center">
    <div nz-col nzSpan="6" style="text-align: center; background-color: aqua; height: 50px; display: flex; align-items: center; justify-content: center;">col-4</div>
    <div nz-col nzSpan="6" style="text-align: center; background-color: red; height: 50px; display: flex; align-items: center; justify-content: center;" >col-4</div>
    <div nz-col nzSpan="6" style="text-align: center; background-color: blue; height: 50px; display: flex; align-items: center; justify-content: center;" >col-4</div>
    <div nz-col nzSpan="6" style="text-align: center; background-color: yellow; height: 50px; display: flex; align-items: center; justify-content: center;" >col-4</div>
</div>

<form [formGroup]= "form" action="onSubmit()">
    <div>
        
    </div>

</form>